# configuration. Usually /etc/inputrc includes some goodies.
$include /etc/inputrc

# Terminate cycling completion by Esc
set isearch-terminators on
set print-completions-horizontally on
set bell-style visible
set skip-completed-text on
set completion-ignore-case On
set completion-map-case on
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
# Enable Readline not waiting for additional input when a key is pressed.
# Needed for the mappings below.
set keyseq-timeout 0

# \C: ctrl
"\C-p": history-search-backward
"\C-n": history-search-forward

# \e: alt
"\en": menu-complete
"\eb": menu-complete-backward

# Change up/down arrow key behaviour to navigate only similar commands
"\e[A": history-search-backward
"\e[B": history-search-forward

"\ew": copy-backward-word

"\e]": character-search
"\e[": character-search-backward

# Magic space
$if Bash
  Space: magic-space
$endif
